<!doctype html>
<html lang="en">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/app.css">
  </head>
<body ng-app="ShoppingListCheckOff">
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div ng-controller="ToBuyShoppingController as buyList" class="col-md-6">
     <h2>To Buy:</h2>
     <ul class="row">
       <li class="col-xs-12" ng-repeat="item in buyList.items">
           Buy {{ item.quantity }} {{ item.name }}
           <button ng-click="buyList.updateItem($index);" 
                   class="btn btn-default pull-right"><span class="glyphicon glyphicon-ok"></span> Bought</button>
         </li>
     </ul>
     <div class="emptyMessage">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div ng-controller="AlreadyBoughtShoppingController as boughtList" class="col-md-6">
     <h2>Already Bought:</h2>
     <ul class="row">
       <li class="col-xs-12" ng-repeat="item in boughtList.items">
           Bought {{item.quanity}} {{item.name}} 
        </li>
     </ul>
     <div class="emptyMessage">Nothing bought yet.</div>
    </div>
  </div>
</div>
    
    <script src="angular.min.js"></script>
    <script src="app.js"></script>

</body>
</html>
